.sec4{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
}
.sec3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sec1{
    display: flex;
    flex-direction: row;
    background-color: #c4c4c4;
    text-align: center;
    
}
h1{
    text-align: center;
}
.form{
    padding: 15px
    margin: left 5px;
    font-size: 48px;   
}
label{
    justify-content: space-between;
}

input{
    height: 42px;
    width: 282px;
}
span{
    font-size: 48px;
}
.sec2{
    margin: 20px;
}
#sign{
    background-color: #c4c4c4;
    padding: 20px 40px;
    font-size: 30px;
    
}
#sign:hover{
    color: aqua;
    background-color: brown;
}
#part{
    background-color: #E643EA;
    padding: 20px 40px;
    font-size: 30px;
    
}
#part:hover{
    color: aqua;
    background-color: brown;
}
#don{
    background-color: #1611F4;
    padding: 20px 40px;
    font-size: 30px;
    
}
#don:hover{
    color: aqua;
    background-color: brown;
}
#comments{
    background-color: #1611F4;
    height: 176px;
    width: 1222px;
}
.btn{
    background-color: black;
    color: #FF0000;
    padding: 10px 20px;
}
nav,footer{
    margin-top: 15px;
    width: 100%;
    height: 45px;
    display: flex;
    color: white;
    justify-content: space-around;
    background-color: #2B2D42;
}