*{
    text-decoration: none;
    list-style: none;
    
}
#navigation{
    display: flex;
    height: auto;
    justify-content: center;
    background-color: rgb(43, 45, 66);

}

#nav{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    text-align: center;
    align-items: center;
   
}
#nav ul a{
    color: white;
    padding: 15px 30px;
    font-size: 20px;
}
#nav ul a:hover{
    color: white;
    padding: 15px 30px;
    background-color: rgba(0, 0, 0,0.4);
    border-radius: 20px;
}
#box{
    height: auto;
    width: 100%;
    display: flex;
    /* background-color: red; */

}

#image1{
    height: 400px;
    width: 50%;
    background-image: url(./pics/image1.jpg);
    background-size: 100% 100%; 
    border-radius: 20px;   

}

#image2{
    height: 400px;
    width: 50%;
    background-image: url(./pics/image2.jpg);
    background-size: 100% 100%; 
    border-radius: 20px;

}

#image3{
    height: auto;
    width: 100%;
    background-image: url(./pics/image3.jpg);
    background-size: 100% 100%; 
    border-radius: 20px;
    
}
#head h1{
    padding: 30px;
    padding-top: 10%;
    color: whitesmoke;
    
   

}
.head{
   
    font-family: 'Caveat', cursive;

    font-size: 50px;
}
#paragraph{

    justify-content: center;

}
.paragraph{
    padding: 20px;
    /* font-family: 'Lobster', cursive; */
    justify-content: center;
    font-size: 30px;
        font-family: 'Style Script', cursive;

    
}
#foot{
    display: flex;
    height: auto;
    justify-content: center;
    
    border-radius: 20px;

}

#footer{
    display: flex;
    height: 100px;
    justify-content: center;
    background-color: rgb(43, 45, 66);
    padding-top: 25px;
    border-radius: 20px;

}

#footer li a{
    color: white;
    padding-top:20px;
    justify-content: space-around;
    


}
#footer li p{
    color: white;
    padding-top:20px;
    justify-content: space-around;


}