nav,footer{
    margin-top: 15px;
    width: 100%;
    height: 45px;
    display: flex;
    color: white;
    justify-content: space-around;
    background-color: #2B2D42;
}
nav a{
    color: white;
    text-decoration: none;
}
.container{
    margin: 0;
    padding: 0;
    background-size: contain;
    background-image: url("./images/boywithparents.jpg");
}
#content{
    background-color: rgba(232, 235, 239, 0.3);
    height: fit-content;
    margin: 50px auto 50px auto;
}
#p1,#p3{
    color: #29FF06;
}
#p2{
    color: #C72EE0;
}